.language-switcher {
  position: absolute;
  top: 1rem;
  right: 5rem;
  z-index: 1300; /* Ensure it's above other content */
}

.language-switcher .MuiButton-root {
  color: var(--color-dark);
  background-color: rgba(88, 147, 235, 0.7);
  text-transform: none; /* Keep the language name's casing */
  font-weight: 600;
  transition: all 0.3s ease;
}
.language-switcher .MuiButton-root:hover {
  background-color: #87abc9;
  transform: scale(1.1);
}

.MuiMenuItem-root {
  padding: 0.5rem 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

.MuiMenuItem-root:hover {
  background-color: var(--color-bg-variant);
}

.MuiMenuItem-root.Mui-selected {
  background-color: var(--color-primary-variant);
  color: var(--color-primary);
}
